* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  margin-top: 10%;
  margin-left: 30%;
  opacity: 0;
}
.content:hover{
  opacity: 1;
}

/*#JotFormIFrame-201812932317349{
  opacity: 0;
}
#JotFormIFrame-201812932317349:hover{
opacity: 1;
}
*/
